<h2>StoresApi</h2>

<button type="button" onclick="load()">Get Token</button>

<input type="text" id="name" placeholder="name" />
<input type="text" id="pass" placeholder="pass" />
<div id="token">

</div>
<br>

<table id="table">
    <tr>
        <th>Name</th>
    </tr>
</table>

<script>
    function load() {
        var ddd = { userName: "user1", userPIN: 1111 };
        $.ajax({
            url: "/api/Token/RequestToken",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(ddd),
            success: function tokenSuccess(response) {
                $('#token').html(response);
            },
            error: function (err) {
                $('#token').html(err.responseText.substring(1, err.responseText.length - 1));
            }
        });
    }
</script>